/* Colores personalizables */
:root {
    --header-bg-color: #110df0; /* Fondo del header */
    --header-text-color: #fff; /* Color del texto del header */
    --logo-size: 100px; /* Tamaño del logo */
    --product-card-border-color: #3b82f6; /* Color del borde de la tarjeta */
    --product-title-color: #333; /* Color del título del producto */
    --product-price-color: #ff4500; /* Color del precio del producto */
    --description-bg-color: #f9f9f9; /* Color de fondo de la descripción */
    --description-text-color: #666; /* Color del texto de la descripción */
    --btn-bg-color: #110df0; /* Color de fondo de los botones */
    --btn-text-color: #fff; /* Color del texto de los botones */
    --btn-border-color: #3b82f6; /* Color del borde de los botones */
    --btn-hover-bg-color: #2a60b6; /* Color de fondo al hacer hover */
  }
  
  /* Estilo del header */
  .header-toolbar {
    background-color: var(--header-bg-color);
    padding: 20px 0;
    text-align: center;
    color: var(--header-text-color);
    position: relative;
  }
  
  /* Estilo del logo */
  .logo-novamarket {
    width: var(--logo-size);
    position: absolute;
    right: 15px;
    top: 15px;
    right:40px;
  }
  
  /* Título y nombre de usuario */
  .titulo-novamarket {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 4em;
  }
  
  .usuario-container {
    margin-top: 10px; /* Espacio entre el título y el nombre de usuario */
    text-align: center; /* Alinear el texto al centro */
  }

  .nombre-usuario {
    margin: 0;
    font-size: 2em;
  }
  
  /* Tarjeta del producto */
  .product-card {
    text-align: center;
    border: 2px solid var(--product-card-border-color);
    border-radius: 10px;
  }
  
  /* Imagen del producto */
  .product-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom: 2px solid var(--product-card-border-color);
  }
  
  /* Título y precio del producto */
  .product-title {
    font-size: 1.5em;
    color: var(--product-title-color);
    font-weight: bold;
  }
  
  .product-price {
    font-size: 1.2em;
    color: var(--product-price-color);
    margin-top: 5px;
  }
  
  /* Descripción */
  .description-label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
  }
  
  .description-placeholder {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--description-bg-color);
    color: var(--description-text-color);
    margin-bottom: 20px;
  }
  
  /* Contenedor de los botones */
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  /* Estilos de los botones */
  .btn-regresar, .btn-chatear {
    width: 45%;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: 1px solid var(--btn-border-color);
  }
  
  .btn-regresar:hover, .btn-chatear:hover {
    background-color: var(--btn-hover-bg-color);
  }
  